## Faupi-MunitionsExpert
*.exe
*.zip
MunitionsExpert/bin/
MunitionsExpert/bin//obj/
MunitionsExpert/bin//Properties/
MunitionsExpert/obj/
*.editorconfig

## visual studio
.vs
.idea
slnx.sqlite
slnx-journal.sqlite

## nodejs
node_modules
node.exe
package-lock.json

## windows
desktop.ini
